.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
}
.table-container {
  display: flex;
  float: left;
  padding-left: 20px;
  text-align: center;
  margin: 20px auto;
  width: 100px;
  border-collapse: collapse;
}

table {
  width: 100%;
  text-align: center;
  border: 1px solid #1a5319;
  font-family: Arial, sans-serif;
}

thead {
  background-color: #508d4e;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #80af81;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #d6efd8;
}

tr:hover {
  background-color: #698474;
}

h1 {
  text-align: center;
  margin: 0 auto;
}
